*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: white;
    
}
#nav{
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 40px;
}
#nav-part1{
    display: flex;
    align-items: center;
    justify-content: center;
}
#nav h3{
    font-size: 17px;
    border: 2px solid black;
    font-weight: 500px;
    padding: 5px 10px;
    border-radius: 50px;
    margin: 5px;
}
#nav i{
    font-size: 16px;
    border: 2px solid black;
    font-weight: 500px;
    padding: 5px 8px;
    border-radius: 50px;
    
}
#nav h1{
    font-weight: 500;
    font-size: 22px
    text-transform: uppercase;
}
#nav button{
    padding: 7px 12px;
    border-radius: 50px;
    border: 1.5px solid black;
    font-size: 16px;
}
#btn2{
    border: none;
    background-color: rgb(254, 77, 1);
    color: white;
    margin-left: 15px;
    margin: 5px;
}
#main>h1{
    font-size: 140px;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    text-align: center;
}
img{
    height: 500px;
    width: 500px;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
}
#img1{
    transform: translate(-50%,-50%) rotate(-30deg);
    border-radius: 50px;
}
#img2{
    transform: translate(-50%,-50%) rotate(-20deg);
    border-radius: 50px;
}
#img3{
    transform: translate(-50%,-50%) rotate(-10deg);
    border-radius: 50px;
}
#btm-left{
    position: absolute;
    bottom: 5%;
    left: 5%;
    font-size: 17px;
}
#btm-right{
    position: absolute;
    bottom: 10%;
    left: 5%;
    font-size: 20px;
    align-items: right;
}
